.card {
	position: relative;
	line-height: normal;
	padding-inline: 28px;
	padding-top: 20px;
	padding-bottom: 34px;
	transition: transform 0.3s, box-shadow 0.3s;
	&:hover{
		transform: translateY(-5px);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.534);
	}
	img {
		width: 100%;
		height: auto;
	}

	&__favorite {
		position: absolute;
		top: 15px;
		left: 15px;
	}
	&__text {
		margin-block: 14px;
	}
	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		display: grid;
		gap: 2px;
	}

	&__cost {
		font-weight: 500;
		font-size: 11px;
		text-transform: uppercase;
		color: #bdbdbd;
	}

	&__cost-number {
		font-weight: 700;
	}

	&__button {
	}
}