//<INPUT>
// Сниппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 15px;
	caret-color: inherit;

	&._form-focus {
		border: 1px solid red;
		box-shadow:
			0px 100px 80px 0px rgba(255, 0, 0, 0.12),
			0px 64.815px 46.852px 0px rgba(255, 0, 0, 0.08),
			0px 38.519px 25.481px 0px rgba(255, 0, 0, 0.08),
			0px 20px 13px 0px rgba(255, 0, 0, 0.04),
			0px 8.148px 6.519px 0px rgba(225, 0, 0, 0.04),
			0px 1.852px 3.148px 0px rgba(255, 0, 0, 0.04);
	}
	&._form-error {
		border: 2px solid red;
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
