//=================================
.footer {
	background-color: #fbfcfc;
	@include adaptiv-value("padding-bottom", 36, 10, 1);
	// position: relative;
	&::before {
		content: "";
		top: 0;
		left: 0;
		display: block;
		margin: 0px auto;
		background-color: #dedfe1;
		height: 1px;
		width: calc(890 / 1170 * 100%);
	}
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		@include adaptiv-value("padding-top", 66, 30, 1);
		@include adaptiv-value("padding-bottom", 69, 30, 1);
		display: grid;
		grid-template: 1fr / minmax(auto, 140px) 1fr;
		grid-auto-flow: column;
		align-items: center;
		// justify-content: space-between;
	}
	// .footer__logo
	&__logo {
	}
	// .footer__menu
	&__menu {
		// justify-self: end;
	}
	// .footer__copy
	&__copy {
		text-align: center;
		color: $darkGrayColor;
		font-family: "DMSans";
		font-size: 12px;
		font-weight: 700;
	}
}
.menu-footer {
	// .menu-footer__body
	&__body {
	}
	// .menu-footer__list
	&__list {
		display: grid;
		grid-template: auto/repeat(auto-fit, minmax(50px, auto));
		justify-content: flex-end;
		// grid-auto-columns: 1fr;
		// grid-auto-flow: column;
		@include adaptiv-value("column-gap", 46, 15, 1);
		@include adaptiv-value("row-gap", 5, 3, 1);
	}
	// .menu-footer__item
	&__item {
		@media (any-hover: hover) {
			&:hover .menu-footer__link {
				color: red;
				&::after {
					width: 100%;
					height: 1%;
					background-color: red;
				}
			}
		}
	}
	// .menu-footer__link
	&__link {
		color: #000;
		font-family: "DMSans";
		font-size: 13px;
		font-weight: 700;
		transition: color 0.3s ease 0s;
		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0;
			transition: width 0.4s ease 0s;
		}
	}
}
//=================================
