//<HEADER>=================================
.header {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;

	// .header__wrapper
	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
		transition: background-color 0.3s ease 0s;
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("min-height", 104, 60);
		transition: min-height 0.3s ease 0s;
		@media (max-width: $mobileBig) {
			justify-content: space-between;
		}
		&::after {
			transition: visibility 0.3s ease 0s;
			content: "";
			width: 100%;
			height: 100%;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
		}
		&._active {
			&::after {
				visibility: visible;
			}
		}
	}
	// .header__logo
	&__logo {
	}
	// .header__menu
	&__menu {
		@media (max-width: $mobile) {
			flex: 1 1 auto;
		}
	}
	// .header__icon
	&__icon-menu {
	}
	&._header-scroll {
		@media (any-hover: hover) {
			&:hover {
				.logo__link {
					color: inherit;
				}
				.icon-menu span {
					background-color: rgba(0, 0, 0, 1);
				}
				.menu__link {
					color: rgba(0, 0, 0, 1);
				}
			}
		}
		.logo__link {
			color: rgba(0, 0, 0, 0.3);
			@media (any-hover: hover) {
				&:hover {
					color: red;
				}
			}
		}
		.icon-menu {
			span {
				background-color: rgba(0, 0, 0, 0.3);
			}
			@media (any-hover: hover) {
				&:hover span {
					background-color: red;
				}
			}
		}
		.menu__item {
			@media (any-hover: hover) {
				&:hover {
					.menu__link {
						color: red;
					}
				}
			}
		}
		.menu__link {
			color: rgba(0, 0, 0, 0.3);
		}
		.header__wrapper {
			background-color: rgba(255, 255, 255, 0.5);
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba(255, 255, 255, 0.9);
				}
			}
		}
		.header__body {
			min-height: 40px;
			@media (any-hover: hover) {
				&:hover {
					min-height: 60px;
				}
			}
		}
	}
}

//<MENU>=======================================
.menu {
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #bdccff;
			top: -120%;
			overflow: auto;
			transition: top 0.5s ease 0s;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 46, 15);
		@include adaptiveValue("row-gap", 5, 3);
		@media (max-width: $mobile) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 120px 15px 30px 15px;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		@media (any-hover: hover) {
			&:hover .menu__link {
				color: red;
				&::after {
					width: 100%;
					height: 1%;
					background-color: red;
				}
			}
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin: 0px 0px calc(30px / 16px * 1em) 0px;
			}
		}
	}
	// .menu__link
	&__link {
		color: #000;
		font-family: "DMSans";
		font-size: 13px;
		font-weight: 700;
		transition: color 0.3s ease 0s;
		&::after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 0;
			transition: width 0.4s ease 0s;
		}
		@media (max-width: $mobile) {
			font-size: 25px;
			font-weight: 800;
		}
	}
	// .menu__icon
	&__icon {
	}
}
//</MENU>=======================================

//<BURGER>=======================================
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		// width: 30px;
		height: 18px;
		top: 0px;
		left: 0px;
		cursor: pointer;
		z-index: 5;
		@include adaptiveValue("margin-left", 32, 15);
		@media (any-hover: hover) {
			&:hover span {
				background-color: red;
			}
		}
		span {
			transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			position: absolute;
			width: 100%;
			height: 2px;
			top: calc(50% - 1px);
			left: 0;
			background-color: #000;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

//<MENU-OPEN>=================================
@media (max-width: $mobile) {
	.menu-open {
		._header-scroll {
			.logo__link {
				color: rgba(0, 0, 0, 1);
			}
			.icon-menu span {
				background-color: rgba(0, 0, 0, 1);
			}
			.menu__link {
				color: rgba(0, 0, 0, 1);
			}
		}
	}
}
.menu-open .menu__body,
.menu-open ._header-scroll .header__logo {
	top: 0;
}
//</MENU-OPEN>=================================
//</BURGER>=================================

//</HEADER>=================================
